/* phone screen css */
@media only screen and (max-width: 600px) {
    .navbar{
        display: flex;
    }
    .search-box{
     
    }
    .left-bar{
        display: none;
    }
    .post-box{
        width: 80%;
        margin-left: 0.1rem;
    }
    .user-info{
        width: 80%;
        margin-left: 0.1rem;
       
    }
    .like-section{
        gap: 10rem;
    }
    .bi-three-dots-vertical{
      position: relative;
      right: 8rem;
    }
    .profile-img{
        width: 30%;
    }
    .profile-name{
        margin-left: 12rem;
    }
  }