/* phone screen css */
@media only screen and (max-width: 600px) {
    .navbar{
        display: flex;
        gap: 1rem;
    }
    .facebook-logo{
        flex: none;
    }
    .bi-facebook{
       margin-left: 1rem;
    }
    .search-box{
        position: relative;
        right: 1rem;
        flex: none;
        width: 20%;
        margin-left: none;
    }
    .pages{
        flex: none;
        gap: 1rem;
        margin-left: auto;
    }
    .icon-section{
        flex: none;
        display: none;
    }
    .left-bar{
        display: none;
    }
    .post-box{
        width: 80%;
        margin-left: 0.1rem;
    }
    .user-info{
        width: 80%;
        margin-left: 0.1rem;
       
    }
    .like-section{
        gap: 10rem;
    }
    .bi-three-dots-vertical{
      position: relative;
      right: 8rem;
    }
    .profile-img{
        width: 30%;
    }
    .profile-name{
        margin-left: 5rem;
    }
    .pic-profile-section{
        width: 50%;
    }
    .profile-img{
        width: 60%;
       position: relative;
       right: 4rem;
    }
  }