.Clients{
    margin-top: 10rem;
    margin-bottom: 15rem;
    width: 1349px;
}
.Clients p{
    color: red;
    margin-left: 5rem;
}
.Clients h1{
    font-size: 3.5rem;
    justify-content: center;
    display: flex;
    margin-top: 3rem;
}
.img-Clients{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
}


@media screen and (max-width:700px){

.Clients h1{
    margin-left: 1rem;
   font-size: 3rem;
}
.img-Clients{
    display: grid;
    grid-template-columns: 120px 120px;
    gap: 10rem;
}
}
@media screen and (max-width:400px){
   .Clients h1{
    font-size: 2rem;
    margin-left: 1rem;
   }
   .img-Clients{
    display: grid;
    grid-template-columns: 120px;
   }
}