
.main-nav {
    width: 1349px;
    height: 4rem;
    display: grid;
    grid-template-columns: 2rem 1fr 1fr 2rem;
    align-items: center;
    justify-content: center;
}
.nav-menu{
    display: none;
}
.nav-logo{
    grid-column: 2/3;
   
}
.ham{
    grid-column: 4/5;
}
.bi-list{
    position: fixed;
    right: 110px;
    top: 42px;
    width: 48px;
    height: 45px;
    line-height: 45px;
    font-family: "metropolis-regular", sans-serif;
    font-size: 1.8rem;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.logo{
    margin-top: 1rem;
    width: 20%;
}
.mobile-nav{
    top: 15rem;
    grid-column: 2/3;
    position: relative;
     background-color: rebeccapurple;
}

.mobile-nav{
    display: grid;
    align-items: center;
    grid-row: 5/6;
    z-index: 900;
    font-family: "metropolis-regular", sans-serif;
    font-size: 1.3rem;
    line-height: 1.846;
    padding: 3.6rem 3rem 3.6rem 3.6rem;
    height: 100%;
    width: 180px;
    background: #0c0c0c;
    color: rgba(255, 255, 255, 0.25);
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    right: 0;
    top: 0;
    
}
.mobile-nav ul{
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -8rem;
    font-size: 1.1rem;
    gap: 1rem;
    right: 1rem;
}
.mobile-nav ul a{
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.bi-x-circle{
    position: relative;
    top: -4rem;
    left: 10rem;
    color: white;
    cursor: pointer;
}
.icons{
    position: relative;
    gap: 1rem;
    right: 5rem;
}



@media screen and (max-width:700px){
    .logo{
        width: 30%;
    }
    .bi-list{
        font-size: 2.5rem;
     
    }
    .mobile-nav ul{
        font-size: 2rem;
        top: -5rem;
        left: -1rem;
    }
    #icons{
        left: 2rem;
        
    }
    #icons i{
        color: white;
    }
    .bi-x-circle{
        top: -3rem;
    }
}
@media screen and (max-width:481px){
    .mobile-nav ul{
        font-size: 2.5rem;
        top: -8rem;
      
    }
}

@media screen and (max-width:400px){
     .logo{
        width: 80vw;
     }
     .bi-list{
        right: 2rem;
     }
     .mobile-nav ul{
        font-size: 2.5rem;
        top: -35rem;
        left: 0.5rem;
    }
    .bi-x-circle{
        top: -8rem;
        font-size: 3rem;
    }
}

