
.resume-login{
   display: grid;
   align-items: center;
    justify-content: center;
}

.img{
    width: 20%;
    margin-left: 8rem;
    margin-bottom: 2rem;
}
.resume-login h2{
 margin-top: 2rem;
 margin: auto;
}
.one{
    margin-left: 2rem;
    margin: auto;
}
input{
    width: 80%;
    height: 5vh;
    margin-top: 2rem;
}
 i{
   font-size: 1.5rem;
   position: relative;
   right: 1rem;
}
.grid{
    display: grid;
    margin-top: 2rem;
}
.forgot-pass{
   margin-left: 3rem;
   color: blueviolet;
}
button{
    margin-top: 1rem;
    height: 5vh;
    margin-left: -1rem;
    border: none;
    background-color: rgb(73, 73, 121);
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: blue;
}
.signup{
    margin-top: 1rem;
    margin-bottom: 5rem;
  
}
@media screen and (max-width:450px) {
    .resume-login h2{
        font-size: 0.8rem;
    }
    .img{
        width: 12%;
        margin-top: 2rem;
    }
    input{
        width: 60%;
      
    }
    form{
        margin-left: 2rem;
    }
    button{
        width: 90%;
    }
    
}