*{
    padding: 0%;
    margin: 0%;
}
.navbar{
    width: 100%;
    height: 8vh;
    background-color:white; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    color: white;
    margin-left:1rem ;
}
.facebook-log{
    flex: 4;
}
.bi-facebook{
 font-size: 2.5rem;
 color: blue;
 margin-left: 0.5rem;
}
.search-box{
    flex: 1.5;
    height: 5vh;
    margin-left: 1rem;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 30px;
    border: solid 0.1rem black;
}
.fa-search{
    margin-left:1rem ;
}
.icon-section{
    flex: 1;
}
.pages{
    flex: 4;
    margin-left: 5rem;
    display: flex;
    gap: 5rem;
}
.pages span:hover{
  color:blue;
  cursor: pointer;
}

.profile-pic{
    margin-left: 0.1rem;
    width: 40px;
    height: 40px;
    border-radius: 2rem;
    object-fit: cover;
    cursor: pointer;
    
}
.icon-section{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1.5rem;
}
input{
     width: 70%;
    border: none;
}
input:focus{
    outline: none;
}
.message-number{
    font-size: 0.8rem;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: 11px;
    margin-left: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#icon{
    cursor: pointer;
    color: black;
   font-size: 1.2rem;
}